$background-color: #FFFFFF;
$shadow: rgba(100, 100, 111, 0.2);
$search: #656EC2;
$alive: #267504;
$dead: #820A0A;
$color-white: #FFFFFF;
$color-main: #282626;
$color-light: #767676;

$font-montserrat: "Montserrat", sans-serif;
$font-fira: "Fira Sans", sans-serif;
$font-normal: 400;
$font-bold: 700;