@use "../../constants/styles";

.character {
  padding: 20px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 7px 25px 0 styles.$shadow;

  &-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 20px;
    font-family: styles.$font-montserrat;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: styles.$color-main;
    list-style: none;

    &_item span {
      font-weight: styles.$font-bold;
      color: styles.$color-light;
    }
  }

  &-image {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .character-image {
    margin: 0 auto;
  }

}