#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-header {
  .container {
    margin: 0 auto;
    max-width: 1596px;
    width: 100%;
    padding: 128px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}